@import "~materialize-css/sass/materialize.scss";

$player-size: 70px;

html, body{
  min-height: 100%;
  @extend .grey, .lighten-3;
}

#page {
  @extend .grey, .lighten-3;
  margin-bottom: $player-size;
}

footer{
  position: fixed;
  bottom: 0px;
  height: $player-size;
  width: 100%;
  /*
  left:0px;
  background:#999;
  */
}

.colored {
  @extend .black-text, .yellow, .accent-3
}



.nav-wrapper{
  @extend .yellow, .accent-3;
}

nav ul a {
  @extend .black-text;
}
nav .brand-logo {
  @extend .black-text;
}

.player-panel{
  @extend  .yellow-text, .grey, .darken-3 , .text-accent-3
}

.player-panel .coverArt {
  max-height: 90%;
  margin-top: auto;
  margin-bottom: auto;
}

.player-btn {
  background-color: inherit;
  height: 100%;
  font-size: 48px;
  border: none;
}

.player-btn:focus{
  background-color: inherit;
}

.player-btn i {
  font-size: inherit;
  vertical-align: middle;
}