@import "~materialize-css/sass/materialize.scss";

$player-size: 70px;

html, body{
  min-height: 100%;
  @extend .grey, .lighten-3;
}

#page {
  margin-bottom: $player-size;
}

.colored {
  @extend .black-text, .yellow, .accent-3
}

.btn > i {
  vertical-align: middle;
}

.nav-wrapper{
  @extend .colored;
}

nav ul a {
  @extend .black-text;
}
nav .brand-logo {
  @extend .black-text;
}

.player-panel {
  @extend  .grey, .darken-3 , .yellow-text, .text-accent-3;
  padding: 0 5px;
  position: fixed;
  bottom: 0;
  height: $player-size;
  width: 100%;
  display: flex;
}

.player-panel > * {
  align-self: center;
}

.player-panel .coverArt {
  max-height: 90%;
}

.player-btn {
  border: 0;
  background: inherit;
}

.player-btn:focus {
  background: inherit;
}

.player-btn > i {
  font-size: 48px;
  vertical-align: middle;
}