<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <resource-ref>
        <description>Database</description>
        <res-ref-name>jdbc/AppDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <lookup-name>java:jboss/datasources/PostgreSQLDS</lookup-name>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-ref>
        <res-ref-name>config/security/pepper</res-ref-name>
        <description>Used to create password hashes</description>
        <res-type>java.lang.String</res-type>
        <res-auth>Container</res-auth>
        <lookup-name>recordholder/config/security/pepper</lookup-name>
    </resource-ref>
    <resource-ref>
        <description>metadata_analyzer executable</description>
        <res-ref-name>config/paths/analyzer-executable</res-ref-name>
        <res-type>java.lang.String</res-type>
        <lookup-name>recordholder/config/paths/analyzer-executable</lookup-name>
    </resource-ref>


    <welcome-file-list>
        <welcome-file>registration.xhtml</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>faces-servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>faces-servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>
</web-app>
