$font-stack: Arial, sans-serif;
$primary-font-size: 18px;
$primary-line-height: 1.5;
$primary-color: #444;
$back-color: #EEEEFF;

body{
	margin: 40px 50px;

	font: $primary-font-size $font-stack;
	line-height: $primary-line-height;

	color: $primary-color;
	background-color: $back-color;
}
